* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

main {
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    padding: 0 20px;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.wrapper {
}

.headline {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.getstarted {
    display: flex;
    margin: auto;
    padding: auto;
}

.openingsection {
    display: flex;
    width: 100;
}

.logo {
    display: flex;
    width: 50%;
}

.navbar {
    display: flex;
    width: 65%;
    padding: 10px;
    flex-direction: row;
}

ul {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
}

.getstarted button {
    padding: 12px;
    background-color: blue;
    color: yellow;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
}

.headline {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 0 auto;
    justify-content: center;
    text-align: center;
}

.firstsection {
    display: flex;
    flex-direction: row;
    margin: auto auto 2em auto;
    max-width: 50%;
}

.tile {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 3em;
}

.secondsection {
    line-height: 1.3;
    max-width: 65ch;
    margin: auto;
    padding: 2rem;
}

.storytext {
    text-indent: 1em;
}

.ending {
    display: flex;
    flex-direction: row-reverse;
}