* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: whitesmoke
}

main {
    align-items: center;
}

.big-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(https://i.etsystatic.com/15389684/r/il/f87a84/1222820842/il_794xN.1222820842_nefu.jpg);
    opacity: 70%;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 35vh;
}

header {
    width: 100%;
    display: flex;
    padding: 0 20px;
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.headline {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.getstarted {
    display: flex;
    margin: auto;
    padding: auto;
}

.openingsection {
    display: flex;
    width: 100;
}

.logo {
    display: flex;
    width: 50%;
}

.navbar {
    display: flex;
    width: 65%;
    padding: 10px;
    flex-direction: row;
}

ul {
    display: inline-block;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

a, a:visited {
    color: white;
}

.getstarted button {
    padding: 12px;
    background-color: #eeeeee;
    color: #36454F;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
}

.headline {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 0 auto;
    justify-content: center;
    text-align: center;
}

.firstsection {
    display: flex;
    flex-direction: row;
    margin: auto auto 2em auto;
    max-width: 50%;
    min-width: 300px;
}

.tile {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 3em;
}

.secondsection {
    line-height: 1.3;
    max-width: 65ch;
    margin: auto;
    padding: 2rem;
}

.storytext {
    text-indent: 1em;
}

.ending {
    display: flex;
    flex-direction: row-reverse;
}